.SlideItem {
    padding: 1rem 1rem 1rem 1rem; 
    margin: 1rem 1rem 1rem 1rem;

    .SlideItem__img{


        .SlideItem__img-img{
            width: 75%;
            height: 150px;
            border-radius: 30px;
            border: 5px solid #000;
        }
    }

    .SlideItemInfo{
        margin: 1rem 0 1rem 0;
        text-align: left;

        .SlideItemInfo__name{
            margin-bottom: 1rem;
        }
    }
}